

.cntMain{
    margin-top: 30px;
    display: flex;

}

.cntval{
    width: 40px;
    font-size: 1.3rem;
    height: 40px;
    margin: 0;
    padding: 5px;
}

.cntMain > button{
    width: 80px;
    font-size: 1.2rem;
    border-radius: 8px;
    height: 40px;
}

.magic{
    width: 90%;
    margin: auto;
    border-radius: 8px;
    height: 40px;
    
}