

.main{
    /* border: 1px solid rgba(31, 39, 43, 0.74); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.both{
    display: flex;
    justify-content: flex-start;
}

.both p{
    padding-left: 20px;
    margin: 0;
}
img{
    width: 180px;
}